=basic-form
  fieldset
    border: 1px solid #ddd
    padding: 5px 20px 20px
    margin: 1em 0
    +round-corners(5px)
    +clearfix
    legend
      color: #333
      font-size: 120%
      margin-left: -5px
      margin-top: 2em
      span
        background-color: white
        padding: 5px
        font-weight: bold
  
  p
    margin: 1em 0 0
    span.hint
      color: #999
      font-size: 90%
      display: block
    label
      color: #666
      display: block
      font-size: 110%
      span.hint
        font-size: 85%
        display: inline 
      &.checkbox
        display: inline
    &.description
      font-size: 110%
      color: #333
  
  .set
    border-bottom: 1px solid white
    +clearfix
    p
      float: left
      margin: 0.75em 1em 0 0
  
  input
    &.textbox
      font-size: 130%
      &.big
        font-size: 180%
    &.upload
      font-size: 130%
  
  select
    font-size: 130%
  
  textarea
    width: 98%
    font-size: 100%
    padding: 6px 4px
    font-family= !base_font_family
    border: 1px solid silver
  
  .buttons
    clear: both
    padding: 1em 0
    +clearfix
    input.button
      font-size: 120%