=flash-messages
  p#notice
    color: green
  p#error
    color: red

=error-messages
  .error_with_field
    input, select, textarea
      background: #fee
    .error
      color: red
      display: block