- @title = "Login"

- form_tag session_path do
  %p
    %label{:for=>"login"} Username
    = text_field_tag 'login', nil, :class => 'textbox', :size => 20
  %p
    %label{:for=>"password"} Password
    = password_field_tag 'password', nil, :class => 'textbox', :size => 20
  .buttons
    = submit_tag 'Login'