[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/dataset"]
	path = vendor/plugins/dataset
	url = git://github.com/aiwilliams/dataset.git
[submodule "vendor/plugins/lindo"]
	path = vendor/plugins/lindo
	url = git://github.com/adeptware/lindo.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
