- @title = "Edit Radiant CMS Extension"
- @h1 = "Edit Extension"
- @selected = :extensions

- form_for @extension, :html => {:multipart => true} do |f|
  = render :partial => "fields", :locals => {:f => f}
  %p.buttons
    %button{:type=>"submit"} Save Changes
    or
    = link_to "Cancel", :back, :class => "cancel"