- @title = "Edit Extension"
- @selected = :extensions

- form_for @extension, :html => {:multipart => true} do |f|
  = render :partial => "form", :locals => {:f => f}
  .buttons
    = submit_tag "Update Extension", :class => "button"