- @title = "Add Extension"

- form_for @extension, :html => {:multipart => true} do |f|
  = render :partial => "form", :locals => {:f => f}
  .buttons
    = submit_tag "Add Extension", :class => "button"