- @title = "Add Radiant CMS Extension"
- @h1 = "Add Extension"
- @selected = :extensions

- form_for @extension, :html => {:multipart => true} do |f|
  = render :partial => "fields", :locals => {:f => f}
  %p.buttons
    %button{:type=>"submit"} Add Extension
    or
    = link_to "Cancel", extensions_path, :class => "cancel"