html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

body {
  font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, sans-serif;
  font-size: 90%;
  line-height: 1.4; }

html, body {
  background-color: #e5e5e5; }

body {
  text-align: center; }

#page, #footer {
  width: 960px;
  text-align: left;
  margin: 0 auto; }

#page {
  overflow: hidden;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  box-shadow: 2px 2px 5px #bbbbbb;
  -webkit-box-shadow: 2px 2px 5px #bbbbbb;
  -moz-box-shadow: 2px 2px 5px #bbbbbb; }

#main {
  background: white; }

#header {
  background: url(/images/radiant.png) 17px -34px no-repeat #eee;
  position: relative; }
  #header #logo {
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    padding: 48px 20px 15px 0;
    color: black; }
  #header ul#account {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 12px;
    list-style: none;
    margin: 5px 0; }
    #header ul#account a, #header ul#account a:visited {
      color: #666;
      text-decoration: none; }
    #header ul#account a:hover {
      text-decoration: underline; }
    #header ul#account li {
      display: inline;
      padding-left: 8px; }
  #header ul#navigation {
    text-align: right;
    padding: 6px 20px 6px 0;
    list-style: none;
    background-color: #ccc;
    margin: 0; }
    #header ul#navigation li {
      display: inline;
      padding-left: 7px; }
    #header ul#navigation a, #header ul#navigation a:visited {
      color: #333;
      text-decoration: none; }
    #header ul#navigation a:hover {
      text-decoration: underline; }

#content {
  padding: 5px 20px 20px;
  font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, sans-serif;
  color: #666; }
  #content a {
    color: #0066cc;
    text-decoration: underline; }
    #content a:hover {
      color: #06c;
      text-decoration: none; }
  #content a.alt, #content a.cancel, #content a.more, #content a.action {
    color: red;
    text-decoration: underline; }
    #content a.alt:hover, #content a.cancel:hover, #content a.more:hover, #content a.action:hover {
      text-decoration: none; }
  #content a.action {
    font-size: 14px;
    text-transform: lowercase; }
  #content strong {
    color: #333; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    color: #333; }
  #content h1 {
    margin-top: 10px;
    font-size: 180%;
    margin-bottom: 0.75em; }
  #content h2 {
    font-size: 150%;
    margin-top: 1em;
    margin-bottom: 0.5em; }
  #content h3 {
    margin-top: 1em;
    font-size: 130%;
    margin-bottom: 0.5em; }
  #content h4 {
    margin-top: 1em;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 0.5em; }
  #content p {
    margin-top: 0.5em;
    margin-bottom: 1em; }
  #content ul {
    padding-left: 2.25em; }
  #content p#notice, #content p#error {
    padding: 1em;
    border-radius: !amount;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  #content p#notice {
    background-color: #e2f9e2;
    border: 4px solid #a2d5a2;
    color: #333; }
  #content p#error {
    background-color: #f9e2e2;
    border: 4px solid #f3a2a2;
    color: #333; }
  #content .error_with_field input, #content .error_with_field select, #content .error_with_field textarea {
    background: #fee; }
  #content .error_with_field .error {
    color: red;
    display: block; }
  #content form fieldset {
    border: 1px solid #ddd;
    padding: 5px 20px 20px;
    margin: 1em 0;
    border-radius: !amount;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    display: inline-block; }
    #content form fieldset {
      display: block; }
    #content form fieldset legend {
      color: #333;
      font-size: 120%;
      margin-left: -5px;
      margin-top: 2em; }
      #content form fieldset legend span {
        background-color: white;
        padding: 5px;
        font-weight: bold; }
  #content form p {
    margin: 1em 0 0; }
    #content form p label {
      color: #333;
      display: block; }
      #content form p label span.hint {
        font-size: 80%;
        color: #666;
        padding: 5px; }
      #content form p label.checkbox {
        display: inline; }
  #content form .set {
    border-bottom: 1px solid white;
    overflow: hidden;
    display: inline-block; }
    #content form .set {
      display: block; }
    #content form .set p {
      float: left;
      margin: 0.75em 1em 0 0; }
  #content form input.textbox {
    font-size: 130%; }
  #content form textarea {
    width: 98%;
    font-size: 130%;
    font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, sans-serif; }
  #content form .buttons {
    clear: both;
    padding: 1em 0;
    overflow: hidden;
    display: inline-block; }
    #content form .buttons {
      display: block; }
    #content form .buttons input.button {
      font-size: 120%; }
  #content table.attributes {
    border-collapse: collapse;
    width: 100%;
    margin: 0; }
    #content table.attributes tr {
      border-top: 1px solid #ddd;
      padding: 2px; }
    #content table.attributes th.label {
      padding: 6px 6px 6px 0;
      text-align: left;
      vertical-align: top;
      width: 20%; }
    #content table.attributes td {
      padding: 6px; }
      #content table.attributes td ul {
        list-style: none;
        padding: 0; }
        #content table.attributes td ul li.extension {
          border: none;
          margin: 0;
          padding: 0; }
  #content #actions {
    float: right;
    padding-top: 20px; }
    #content #actions a.add_link {
      padding-left: 20px;
      line-height: 20px;
      background: url(/images/plus.png) left center no-repeat;
      text-decoration: none; }
      #content #actions a.add_link:hover {
        text-decoration: underline; }
  #content .badge {
    font-weight: bold;
    color: white;
    background: #999;
    padding: .75em 1em 0.65em;
    border-radius: !amount;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
  #content .clearfix {
    clear: both; }

#content .records_count {
  float: left;
  font-size: 110%;
  padding: 0.7em 0; }
#content .pagination {
  font-size: 110%;
  text-align: right;
  padding: 0.7em 0.3em; }
  #content .pagination a, #content .pagination span {
    padding: .3em .6em 0.25em; }
  #content .pagination span.disabled {
    color: #aaa; }
  #content .pagination span.current {
    font-weight: bold;
    color: white;
    background: #0066cc;
    border-radius: !amount;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  #content .pagination a {
    text-decoration: none; }
    #content .pagination a:hover {
      text-decoration: underline; }
  #content .pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  #content .pagination .prev_page {
    margin-right: 0.5em; }
  #content .pagination .next_page {
    margin-left: 0.5em; }

#content #extensions {
  border-bottom: 1px solid #e5e5e5;
  clear: both; }
#content div.extension {
  border-top: 1px solid #e5e5e5;
  padding: 10px 0; }
  #content div.extension .name {
    margin: 0 0 0.25em;
    font-size: 140%; }
  #content div.extension .description {
    width: 65%;
    font-size: 110%;
    color: #888; }
    #content div.extension .description p {
      margin: 0 0 0.25em; }
  #content div.extension .authored {
    color: #888; }
    #content div.extension .authored a {
      color: #666; }

#content table.index#authors {
  border-bottom: 1px solid #e5e5e5;
  clear: both;
  width: 100%; }
  #content table.index#authors td {
    border-top: 1px solid #e5e5e5;
    padding: 15px; }
    #content table.index#authors td.avatar {
      padding-left: 0;
      width: 88px; }
      #content table.index#authors td.avatar img {
        border: 4px solid #f0f0f0;
        vertical-align: -8%; }
    #content table.index#authors td.info {
      padding-left: 5px; }
      #content table.index#authors td.info .name {
        font-size: 130%; }
      #content table.index#authors td.info .extensions_count {
        font-size: 110%;
        color: #999; }
    #content table.index#authors td.available_for_hire {
      width: 15em; }
#content .full_size_avatar {
  float: right; }
  #content .full_size_avatar img {
    border: 5px solid #f0f0f0; }
  #content .full_size_avatar .caption {
    color: #999;
    font-size: 80%;
    text-align: center; }
    #content .full_size_avatar .caption a {
      color: #666; }
#content .bio {
  font-size: 130%; }

#footer {
  padding: 10px 0;
  color: #999;
  font-size: 90%; }
  #footer p {
    padding: 0 20px; }
  #footer a {
    color: #888; }
    #footer a:hover {
      text-decoration: none;
      color: #666; }
