html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

body {
  font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, sans-serif;
  font-size: 95%;
  line-height: 1.4; }

html, body {
  background-color: #fff; }

body {
  background-color: white;
  text-align: center; }

#header, #navigation, #head, #main, #footer_wrapper {
  width: 960px;
  text-align: left;
  margin: 0 auto;
  overflow: hidden; }

#header_wrapper {
  background: #454f59;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#2e3842), to(#5c6670));
  background: -moz-linear-gradient(left top, left bottom, from(#2e3842), to(#5c6670)); }

#navigation_wrapper {
  background: #e5e5e5;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdcdcd));
  background: -moz-linear-gradient(left top, left bottom, from(white), to(#cdcdcd)); }

#head_wrapper {
  background-color: #e9f2ff; }

#content {
  padding: 20px; }

#main.content_with_sidebar {
  background: transparent url(/images/vertical_line.png) 615px top repeat-y;
  margin-bottom: 10px;
  overflow: hidden;
  display: inline-block; }
  #main.content_with_sidebar {
    display: block; }
  #main.content_with_sidebar #content {
    width: 565px;
    padding: 20px 20px 10px;
    float: left; }
  #main.content_with_sidebar #sidebar {
    float: right;
    width: 295px;
    padding: 20px 20px 10px 0; }

#header {
  position: relative;
  padding: 26px 0 0; }
  #header #logo {
    background: transparent url(/images/radiant_logo.png) left center no-repeat;
    height: 45px;
    padding: 10px 0 10px 90px;
    margin: 0px 26px 26px 20px;
    font-size: 35px;
    color: white; }
    #header #logo .title {
      display: inline;
      text-shadow: 1px 1px 2px rgba(0,0,0,.5); }
    #header #logo .subtitle {
      display: inline;
      font-size: .6em;
      font-style: italic;
      font-weight: normal;
      text-shadow: 1px 1px 2px rgba(0,0,0,.5); }
      #header #logo .subtitle:before {
        content: "// "; }
    #header #logo .parent_site {
      background-color: #6b737b;
      display: inline;
      font-size: .45em;
      font-weight: normal;
      padding: 7px 16px 8px;
      position: absolute;
      right: 20px;
      margin-top: 6px;
      border-radius: !amount;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      text-shadow: 2px 2px 2px rgba(107,115,123,.5); }
      #header #logo .parent_site:after {
        content: " →"; }
      #header #logo .parent_site a {
        color: white; }
        #header #logo .parent_site a:hover {
          text-decoration: none; }

#navigation ul.primary_links {
  font-size: 105%;
  height: 20px;
  list-style: none;
  margin: 0;
  padding: 15px 20px; }
  #navigation ul.primary_links a:link, #navigation ul.primary_links a:visited {
    padding: 3px 15px;
    color: #333;
    text-decoration: none; }
  #navigation ul.primary_links a:hover {
    text-decoration: underline; }
  #navigation ul.primary_links li {
    display: inline; }
    #navigation ul.primary_links li.here a:link, #navigation ul.primary_links li.here a:visited {
      background-color: #454f59;
      color: #f0f0f0;
      border-radius: !amount;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      background: -webkit-gradient(linear, left top, left bottom, from(#555d65), to(#757d85));
      background: -moz-linear-gradient(left top, left bottom, from(#555d65), to(#757d85)); }
    #navigation ul.primary_links li.here a:hover {
      color: white; }
#navigation .account_links {
  color: #666;
  float: right;
  font-size: 1em;
  padding: 15px 20px; }
  #navigation .account_links a, #navigation .account_links a:visited {
    color: #0066cc;
    text-decoration: underline; }
  #navigation .account_links a:hover {
    text-decoration: none; }

#head {
  padding: 40px 0;
  position: relative; }
  #head h1, #head p {
    padding-left: 20px;
    padding-right: 350px; }
  #head h1 {
    font-size: 210%;
    font-weight: bold;
    margin-bottom: 0.1em; }
  #head p {
    color: #888;
    font-size: 130%; }
  #head form#search {
    position: absolute;
    top: 45px;
    right: 20px; }
    #head form#search p {
      padding: 0; }
    #head form#search label {
      font-size: 120%;
      color: #333;
      display: block; }
    #head form#search input.search {
      background: transparent url(/images/search_box.png) left top no-repeat;
      padding: 4px 40px 4px 15px;
      border: none;
      font-size: 22px;
      line-height: 30px;
      height: 30px;
      width: 245px;
      outline: none; }

#main {
  font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, sans-serif;
  color: #666; }
  #main a {
    color: #0066cc;
    text-decoration: underline; }
    #main a:hover {
      color: #06c;
      text-decoration: none; }
  #main a.alt, #main a.cancel, #main a.more, #main a.action {
    color: red;
    text-decoration: underline; }
    #main a.alt:hover, #main a.cancel:hover, #main a.more:hover, #main a.action:hover {
      text-decoration: none; }
  #main a.action {
    font-weight: normal;
    font-size: 14px;
    text-transform: lowercase; }
  #main strong {
    color: #333; }
  #main em {
    font-style: italic; }
  #main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
    color: #333; }
  #main h1 {
    font-size: 210%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0.5em; }
  #main h2 {
    font-size: 100%;
    color: #666;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    text-transform: uppercase;
    letter-spacing: 2px; }
  #main h3 {
    font-size: 160%;
    margin-top: 1em;
    margin-bottom: 0.5em; }
    #main h3 small {
      color: #999;
      font-weight: normal;
      font-size: 90%; }
  #main h4 {
    margin-top: 1em;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 0.5em; }
  #main p {
    margin-top: 0.5em;
    margin-bottom: 1em; }
  #main ul {
    padding-left: 2.25em; }
  #main tt {
    font-size: 90%;
    font-family: Monaco, 'Andale Mono', 'Lucida Console', monospace;
    background: #f0f0f0;
    padding: 2px 4px;
    border-radius: !amount;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  #main p#notice, #main p#error {
    padding: 1em;
    border-radius: !amount;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  #main p#notice {
    background-color: #e2f9e2;
    border: 4px solid #a2d5a2;
    color: #333; }
  #main p#error {
    background-color: #f9e2e2;
    border: 4px solid #f3a2a2;
    color: #333; }
  #main .error_with_field input, #main .error_with_field select, #main .error_with_field textarea {
    background: #fee; }
  #main .error_with_field .error {
    color: red;
    display: block; }
  #main form fieldset {
    border: 1px solid #ddd;
    padding: 5px 20px 20px;
    margin: 1em 0;
    border-radius: !amount;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    display: inline-block; }
    #main form fieldset {
      display: block; }
    #main form fieldset legend {
      color: #333;
      font-size: 120%;
      margin-left: -5px;
      margin-top: 2em; }
      #main form fieldset legend span {
        background-color: white;
        padding: 5px;
        font-weight: bold; }
  #main form p {
    margin: 1em 0 0; }
    #main form p span.hint {
      color: #999;
      font-size: 90%;
      display: block; }
    #main form p label {
      color: #666;
      display: block;
      font-size: 110%; }
      #main form p label span.hint {
        font-size: 85%;
        display: inline; }
      #main form p label.checkbox {
        display: inline; }
    #main form p.description {
      font-size: 110%;
      color: #333; }
  #main form .set {
    border-bottom: 1px solid white;
    overflow: hidden;
    display: inline-block; }
    #main form .set {
      display: block; }
    #main form .set p {
      float: left;
      margin: 0.75em 1em 0 0; }
  #main form input.textbox {
    font-size: 130%; }
  #main form input.upload {
    font-size: 130%; }
  #main form select {
    font-size: 130%; }
  #main form textarea {
    width: 98%;
    font-size: 100%;
    padding: 6px 4px;
    font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, sans-serif;
    border: 1px solid silver; }
  #main form .buttons {
    clear: both;
    padding: 1em 0;
    overflow: hidden;
    display: inline-block; }
    #main form .buttons {
      display: block; }
    #main form .buttons input.button {
      font-size: 120%; }
  #main a.button, #main button {
    color: #333;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #d3d3d3;
    padding: 7px 25px 7px;
    font-size: 15px;
    position: relative;
    border-radius: !amount;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e8e8e8));
    background: -moz-linear-gradient(left top, left bottom, from(white), to(#e8e8e8)); }
    #main a.button:hover, #main a.button:focus, #main button:hover, #main button:focus {
      background-color: #e0eff5;
      border-color: #abc5d3;
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e0eff5));
      background: -moz-linear-gradient(left top, left bottom, from(white), to(#e0eff5));
      outline: none; }
    #main a.button:active, #main button:active {
      background-color: #ccedf3;
      background: -webkit-gradient(linear, left top, left bottom, from(#ccedf3), to(#e5f5ff));
      background: -moz-linear-gradient(left top, left bottom, from(#ccedf3), to(#e5f5ff)); }
    #main a.button img.icon, #main button img.icon {
      margin-left: -10px;
      margin-right: 5px;
      vertical-align: -20%; }
  #main table.attributes {
    border-collapse: collapse;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    margin: 2em 0; }
    #main table.attributes tr {
      border-top: 1px solid #e5e5e5;
      padding: 2px; }
    #main table.attributes th {
      color: #aaa;
      padding: 8px 8px 8px 0;
      text-align: left;
      vertical-align: top;
      width: 9em; }
    #main table.attributes td {
      padding: 8px; }
      #main table.attributes td ul {
        list-style: none;
        padding: 0; }
        #main table.attributes td ul li.extension {
          border: none;
          margin: 0;
          padding: 0; }
  #main p.more {
    margin-top: 1.5em; }
    #main p.more span {
      background-color: #4c94db;
      color: white;
      font-weight: normal;
      padding: 6px 12px 7px;
      border-radius: !amount;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px; }
      #main p.more span:after {
        content: " →";
        display: inline; }
      #main p.more span a {
        color: white; }
  #main #actions {
    float: right;
    padding-top: 20px; }
  #main .big {
    font-size: 130%; }
  #main .badge {
    color: white;
    background-color: #454f59;
    padding: 6px 12px 7px;
    border-radius: !amount;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: -webkit-gradient(linear, left top, left bottom, from(#555d65), to(#757d85));
    background: -moz-linear-gradient(left top, left bottom, from(#555d65), to(#757d85)); }

#content .records_count {
  float: left;
  font-size: 110%;
  padding: 0.7em 0; }
#content .pagination {
  font-size: 110%;
  text-align: right;
  padding: 0.7em 0.3em; }
  #content .pagination a, #content .pagination span {
    padding: .3em .6em 0.25em; }
  #content .pagination span.disabled {
    color: #aaa; }
  #content .pagination span.current {
    color: white;
    background-color: #454f59;
    border-radius: !amount;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: -webkit-gradient(linear, left top, left bottom, from(#555d65), to(#757d85));
    background: -moz-linear-gradient(left top, left bottom, from(#555d65), to(#757d85)); }
  #content .pagination a {
    text-decoration: none; }
    #content .pagination a:hover {
      text-decoration: underline; }
  #content .pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  #content .pagination .prev_page {
    margin-right: 0.5em; }
  #content .pagination .next_page {
    margin-left: 0.5em; }

#main table.index#extensions {
  border-bottom: 1px solid #e5e5e5;
  width: 100%; }
  #main table.index#extensions td {
    border-top: 1px solid #e5e5e5;
    padding: 15px; }
    #main table.index#extensions td.screenshot {
      width: 120px;
      padding-left: 0;
      padding-right: 20px;
      vertical-align: top; }
      #main table.index#extensions td.screenshot img {
        border: 4px solid #f0f0f0; }
    #main table.index#extensions td.info {
      padding-left: 0; }
  #main table.index#extensions .name {
    margin: 0 0 0.25em;
    font-size: 140%; }
  #main table.index#extensions .description {
    font-size: 110%;
    color: #888; }
    #main table.index#extensions .description p {
      margin: 0 0 0.25em; }
  #main table.index#extensions .authored {
    color: #888; }
    #main table.index#extensions .authored a {
      color: #666; }
  #main table.index#extensions.mini {
    margin: 1em 0;
    border: none; }
    #main table.index#extensions.mini td {
      border: none;
      padding-top: 8px;
      padding-bottom: 8px; }
    #main table.index#extensions.mini .name {
      font-size: 130%; }
    #main table.index#extensions.mini .description {
      font-size: 105%; }
#main div.screenshot {
  float: right;
  margin: 0 0 1em 1em; }
  #main div.screenshot img {
    border: 5px solid #f0f0f0; }
#main div.screenshot-zoom {
  border: solid 1px;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .85); }
  #main div.screenshot-zoom img {
    border: solid 8px #fff;
    display: block;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -328px; }
  #main div.screenshot-zoom a {
    background: transparent url(/images/close.png) top left no-repeat;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    z-index: 10;
    position: absolute;
    left: 50%;
    margin-left: 312px;
    top: 44px; }

#main table.index#authors {
  border-bottom: 1px solid #e5e5e5;
  clear: both;
  width: 100%; }
  #main table.index#authors td {
    border-top: 1px solid #e5e5e5;
    padding: 15px; }
    #main table.index#authors td.avatar {
      padding-left: 0;
      width: 88px; }
      #main table.index#authors td.avatar img {
        border: 4px solid #f0f0f0;
        vertical-align: -8%; }
    #main table.index#authors td.info {
      padding-left: 5px; }
      #main table.index#authors td.info .name {
        font-size: 130%; }
      #main table.index#authors td.info .location {
        font-size: 110%;
        color: #999; }
    #main table.index#authors td.extensions_count {
      font-size: 110%;
      color: #999;
      width: 30%; }
    #main table.index#authors td.available_for_hire {
      width: 15em; }
      #main table.index#authors td.available_for_hire .badge {
        opacity: 0.7;
        -moz-opacity: 0.7;
        -khtml-opacity: 0.7;
        -webkit-opacity: 0.7;
        filter: alpha(opacity=70);
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); }
  #main table.index#authors.mini {
    margin: 1em 0;
    border: none; }
    #main table.index#authors.mini td {
      border: none;
      padding-top: 8px;
      padding-bottom: 8px; }
      #main table.index#authors.mini td.avatar {
        width: 72px; }
      #main table.index#authors.mini td.info .name {
        font-size: 120%; }
      #main table.index#authors.mini td.info .extensions_count {
        font-size: 105%;
        color: #999; }
#main .full_size_avatar {
  float: right; }
  #main .full_size_avatar img {
    border: 5px solid #f0f0f0; }
  #main .full_size_avatar .caption {
    color: #999;
    font-size: 80%;
    text-align: center; }
    #main .full_size_avatar .caption a {
      color: #666; }

#footer {
  border-top: 2px solid #f0f0f0;
  padding: 20px 0;
  color: #bbb;
  font-size: 95%;
  margin: 15px 20px 0; }
  #footer a {
    color: #999; }
    #footer a:hover {
      text-decoration: none;
      color: #666; }
