html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

body {
  font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, sans-serif;
  font-size: 95%;
  line-height: 1.4; }

html, body {
  background-color: #fff; }

body {
  background-color: white;
  text-align: center; }

#header, #navigation, #main, #footer_wrapper {
  width: 960px;
  text-align: left;
  margin: 0 auto;
  overflow: hidden; }

#header_wrapper {
  background: #454f59;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#2e3842), to(#5c6670));
  background: -moz-linear-gradient(left top, left bottom, from(#2e3842), to(#5c6670)); }

#navigation_wrapper {
  background: #e5e5e5;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cdcdcd));
  background: -moz-linear-gradient(left top, left bottom, from(white), to(#cdcdcd)); }

#header {
  position: relative;
  padding: 26px 0 0; }
  #header #logo {
    background: transparent url(/images/radiant_logo.png) left center no-repeat;
    height: 45px;
    padding: 10px 0 10px 90px;
    margin: 0px 26px 26px 20px;
    font-size: 35px;
    color: white; }
    #header #logo .title {
      display: inline; }
    #header #logo .subtitle {
      display: inline;
      font-size: .6em;
      font-style: italic;
      font-weight: normal;
      text-shadow: 2px 2px 2px rgba(0,0,0,.5); }
      #header #logo .subtitle:before {
        content: "// "; }
    #header #logo .parent_site {
      background-color: #6b737b;
      display: inline;
      font-size: .45em;
      font-weight: normal;
      padding: 7px 16px 8px;
      position: absolute;
      right: 20px;
      margin-top: 6px;
      border-radius: !amount;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      text-shadow: 2px 2px 2px rgba(107,115,123,.5); }
      #header #logo .parent_site:after {
        content: "→"; }
      #header #logo .parent_site a {
        color: white; }
        #header #logo .parent_site a:hover {
          text-decoration: none; }

#navigation ul.primary_links {
  font-size: 105%;
  height: 20px;
  list-style: none;
  margin: 0;
  padding: 15px 20px; }
  #navigation ul.primary_links li {
    display: inline;
    padding-right: 20px; }
  #navigation ul.primary_links a, #navigation ul.primary_links a:visited {
    color: #333;
    text-decoration: none; }
  #navigation ul.primary_links a:hover {
    text-decoration: underline; }
#navigation ul.account_links {
  float: right;
  font-size: 1em;
  list-style: none;
  padding: 15px 20px; }
  #navigation ul.account_links a, #navigation ul.account_links a:visited {
    color: #0066cc;
    text-decoration: none; }
  #navigation ul.account_links a:hover {
    text-decoration: underline; }
  #navigation ul.account_links li {
    display: inline;
    padding-left: 8px; }

#content {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, sans-serif;
  color: #666; }
  #content a {
    color: #0066cc;
    text-decoration: underline; }
    #content a:hover {
      color: #06c;
      text-decoration: none; }
  #content a.alt, #content a.cancel, #content a.more, #content a.action {
    color: red;
    text-decoration: underline; }
    #content a.alt:hover, #content a.cancel:hover, #content a.more:hover, #content a.action:hover {
      text-decoration: none; }
  #content a.action {
    font-size: 14px;
    text-transform: lowercase; }
  #content strong {
    color: #333; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    color: #333; }
  #content h1 {
    margin-top: 10px;
    font-size: 210%;
    font-weight: bold;
    margin-bottom: 0.75em; }
  #content h2 {
    font-size: 150%;
    margin-top: 1em;
    margin-bottom: 0.5em; }
  #content h3 {
    margin-top: 1em;
    font-size: 130%;
    margin-bottom: 0.5em; }
  #content h4 {
    margin-top: 1em;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 0.5em; }
  #content p {
    margin-top: 0.5em;
    margin-bottom: 1em; }
  #content ul {
    padding-left: 2.25em; }
  #content p#notice, #content p#error {
    padding: 1em;
    border-radius: !amount;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  #content p#notice {
    background-color: #e2f9e2;
    border: 4px solid #a2d5a2;
    color: #333; }
  #content p#error {
    background-color: #f9e2e2;
    border: 4px solid #f3a2a2;
    color: #333; }
  #content .error_with_field input, #content .error_with_field select, #content .error_with_field textarea {
    background: #fee; }
  #content .error_with_field .error {
    color: red;
    display: block; }
  #content form fieldset {
    border: 1px solid #ddd;
    padding: 5px 20px 20px;
    margin: 1em 0;
    border-radius: !amount;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    display: inline-block; }
    #content form fieldset {
      display: block; }
    #content form fieldset legend {
      color: #333;
      font-size: 120%;
      margin-left: -5px;
      margin-top: 2em; }
      #content form fieldset legend span {
        background-color: white;
        padding: 5px;
        font-weight: bold; }
  #content form p {
    margin: 1em 0 0; }
    #content form p label {
      color: #333;
      display: block; }
      #content form p label span.hint {
        font-size: 80%;
        color: #666;
        padding: 5px; }
      #content form p label.checkbox {
        display: inline; }
  #content form .set {
    border-bottom: 1px solid white;
    overflow: hidden;
    display: inline-block; }
    #content form .set {
      display: block; }
    #content form .set p {
      float: left;
      margin: 0.75em 1em 0 0; }
  #content form input.textbox {
    font-size: 130%; }
  #content form textarea {
    width: 98%;
    font-size: 130%;
    font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, sans-serif; }
  #content form .buttons {
    clear: both;
    padding: 1em 0;
    overflow: hidden;
    display: inline-block; }
    #content form .buttons {
      display: block; }
    #content form .buttons input.button {
      font-size: 120%; }
  #content table.attributes {
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: 2em 0; }
    #content table.attributes tr {
      border-top: 1px solid #ddd;
      padding: 2px; }
    #content table.attributes th {
      color: #aaa;
      padding: 8px 8px 8px 0;
      text-align: left;
      vertical-align: top;
      width: 9em; }
    #content table.attributes td {
      padding: 8px; }
      #content table.attributes td ul {
        list-style: none;
        padding: 0; }
        #content table.attributes td ul li.extension {
          border: none;
          margin: 0;
          padding: 0; }
  #content #actions {
    float: right;
    padding-top: 20px; }
    #content #actions a.add_link {
      padding-left: 20px;
      line-height: 20px;
      background: url(/images/plus.png) left center no-repeat;
      text-decoration: none; }
      #content #actions a.add_link:hover {
        text-decoration: underline; }
  #content .badge {
    color: white;
    background: #999;
    padding: 6px 12px 7px;
    border-radius: !amount;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
  #content .clearfix {
    clear: both; }

#content .records_count {
  float: left;
  font-size: 110%;
  padding: 0.7em 0; }
#content .pagination {
  font-size: 110%;
  text-align: right;
  padding: 0.7em 0.3em; }
  #content .pagination a, #content .pagination span {
    padding: .3em .6em 0.25em; }
  #content .pagination span.disabled {
    color: #aaa; }
  #content .pagination span.current {
    font-weight: bold;
    color: white;
    background: #0066cc;
    border-radius: !amount;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
  #content .pagination a {
    text-decoration: none; }
    #content .pagination a:hover {
      text-decoration: underline; }
  #content .pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  #content .pagination .prev_page {
    margin-right: 0.5em; }
  #content .pagination .next_page {
    margin-left: 0.5em; }

#content #extensions {
  border-bottom: 1px solid #e5e5e5;
  clear: both; }
#content table.index#extensions {
  border-bottom: 1px solid #e5e5e5;
  clear: both;
  width: 100%; }
  #content table.index#extensions td {
    border-top: 1px solid #e5e5e5;
    padding: 15px; }
    #content table.index#extensions td.screenshot {
      padding-left: 0; }
      #content table.index#extensions td.screenshot img {
        border: 4px solid #f0f0f0; }
    #content table.index#extensions td.info {
      padding-left: 5px; }
  #content table.index#extensions .name {
    margin: 0 0 0.25em;
    font-size: 140%; }
  #content table.index#extensions .description {
    font-size: 110%;
    color: #888; }
    #content table.index#extensions .description p {
      margin: 0 0 0.25em; }
  #content table.index#extensions .authored {
    color: #888; }
    #content table.index#extensions .authored a {
      color: #666; }
#content div.screenshot {
  float: right;
  margin: 0 0 1em 1em; }
  #content div.screenshot img {
    border: 5px solid #f0f0f0; }

#content table.index#authors {
  border-bottom: 1px solid #e5e5e5;
  clear: both;
  width: 100%; }
  #content table.index#authors td {
    border-top: 1px solid #e5e5e5;
    padding: 15px; }
    #content table.index#authors td.avatar {
      padding-left: 0;
      width: 88px; }
      #content table.index#authors td.avatar img {
        border: 4px solid #f0f0f0;
        vertical-align: -8%; }
    #content table.index#authors td.info {
      padding-left: 5px; }
      #content table.index#authors td.info .name {
        font-size: 130%; }
      #content table.index#authors td.info .extensions_count {
        font-size: 110%;
        color: #999; }
    #content table.index#authors td.available_for_hire {
      width: 15em; }
#content .full_size_avatar {
  float: right; }
  #content .full_size_avatar img {
    border: 5px solid #f0f0f0; }
  #content .full_size_avatar .caption {
    color: #999;
    font-size: 80%;
    text-align: center; }
    #content .full_size_avatar .caption a {
      color: #666; }
#content .big {
  font-size: 130%; }

#footer {
  border-top: 1px solid #e5e5e5;
  padding: 20px 0;
  color: #bbb;
  font-size: 95%;
  margin: 15px 20px 0; }
  #footer a {
    color: #999; }
    #footer a:hover {
      text-decoration: none;
      color: #666; }
