- @title = "Extension Authors"

#authors
  -unless @authors.blank?
    - @authors.each do |author|
      %div[author]
        .name
          = image_tag gravatar_url(author.email)
          = link_to author.name.gsub(/<\/?[^>]*>/, ""), author_path(author)
        .extensions_count
          = "#{author.extensions_count} extensions"