- @title = "Extension Authors"

%table.index#authors
  %tbody
    - @authors.each do |author|
      %tr[author]
        %td.avatar
          = image_tag gravatar_url(author.email)
        %td.info
          .name= link_to h(author.name), author_path(author)
          .extensions_count
            = "#{author.extensions_count} extensions"