%h2
  Author:
  = h(@author.full_name.gsub(/<\/?[^>]*>/, ""))
  
%table.attributes
  %tr
    %th.label Email
    %td.value=mail_to(@author.email.gsub(/<\/?[^>]*>/, ""), nil, :encode => :javascript)
  %tr
    %th.label Website
    %td.value= link_to(@author.website.gsub(/<\/?[^>]*>/, ""), @author.website) if @author.website
  %tr
    %th.label Notes
    %td.value= textilize(@author.notes.gsub(/<\/?[^>]*>/, ""))
  %tr
    %th.label Extensions
    %td.value
      %ul
        - @author.extensions.each do |ext|
          %li[ext]= link_to ext.name.gsub(/<\/?[^>]*>/, ""), ext