#content
  
  table.index#authors
    border-bottom: 1px solid #e5e5e5
    clear: both
    width: 100%
    td
      border-top: 1px solid #e5e5e5
      padding: 15px
      &.avatar
        padding-left: 0
        width: 88px
        img
          border: 4px solid #f0f0f0
          vertical-align: -8%
      &.info
        padding-left: 5px
        .name
          font-size: 130%
        .extensions_count
          font-size: 110%
          color: #999
      &.available_for_hire
        width: 15em
  
  .full_size_avatar
    float: right
    img
      border: 5px solid #f0f0f0
    .caption
      color: #999
      font-size: 80%
      text-align: center
      a
        color: #666
  
  .big
    font-size: 130%