#content
  
  #extensions
    border-bottom: 1px solid #e5e5e5
    clear: both
  
  div.extension
    border-top: 1px solid #e5e5e5
    padding: 10px 0
    .name
      margin: 0 0 0.25em
      font-size: 140%
    .description
      width: 65%
      font-size: 110%
      color: #888
      p
        margin: 0 0 0.25em
    .authored
      color: #888
      a
        color: #666
  
  div.screenshot
    float: right
    margin: 0 0 1em 1em
    img
      border: 5px solid #f0f0f0