#content
  
  table.index#extensions
    border-bottom: 1px solid #e5e5e5
    width: 100%
    td
      border-top: 1px solid #e5e5e5
      padding: 15px
      &.screenshot
        width: 120px
        padding-left: 0
        vertical-align: top
        img
          border: 4px solid #f0f0f0
      &.info
        padding-left: 5px
    .name
      margin: 0 0 0.25em
      font-size: 140%
    .description
      font-size: 110%
      color: #888
      p
        margin: 0 0 0.25em
    .authored
      color: #888
      a
        color: #666
  
  div.screenshot
    float: right
    margin: 0 0 1em 1em
    img
      border: 5px solid #f0f0f0