html, body
  background-color: #e5e5e5

body
  text-align: center

#page, #footer
  width: 960px
  text-align: left
  margin: 0 auto

#page
  overflow: hidden
  +round-bottom-corners
  +box-shadow(2px, 2px, 5px, #bbb)

#main
  background: white
  