html, body
  background-color: #fff

body
  background: transparent url(/images/bg_header.png) top left repeat-x
  text-align: center

#page
  width: 960px
  text-align: left
  margin: 0 auto
  overflow: hidden

#main
  background: white
  