#content
  padding: 20px 35px
  
  +basic-links
  +basic-typography
  +flash-messages
  +error-messages
  
  form
    +basic-form
  
  table.attributes
    border-collapse: collapse
    border-bottom: 1px solid #ddd
    width: 100%
    margin: 2em 0
    tr
      border-top: 1px solid #ddd
      padding: 2px
    th
      color: #aaa
      padding: 8px 8px 8px 0
      text-align: left
      vertical-align: top
      width: 9em
    td
      padding: 8px
      ul
        list-style: none
        padding: 0
        li.extension
          border: none
          margin: 0
          padding: 0
  
  #actions
    float: right
    padding-top: 20px
    a.add_link
      padding-left: 20px
      line-height: 20px
      background: url(/images/plus.png) left center no-repeat
      text-decoration: none
      &:hover
        text-decoration: underline
  
  .badge
    color: white
    background: #999
    padding: 6px 12px 7px
    +round-corners(8px)
  
  .clearfix
    clear: both