#main
  +basic-links
  +basic-typography
  +flash-messages
  +error-messages
  
  form
    +basic-form
  
  a.button, button
    +basic-button
  
  table.attributes
    border-collapse: collapse
    border-bottom: 1px solid #e5e5e5
    width: 100%
    margin: 2em 0
    tr
      border-top: 1px solid #e5e5e5
      padding: 2px
    th
      color: #aaa
      padding: 8px 8px 8px 0
      text-align: left
      vertical-align: top
      width: 9em
    td
      padding: 8px
      ul
        list-style: none
        padding: 0
        li.extension
          border: none
          margin: 0
          padding: 0
  
  p.more
    margin-top: 1.5em
    
    span
      background-color: #4c94db
      color: white
      font-weight: normal
      padding: 6px 12px 7px
      +round-corners(6px)
      &:after
        content: " →"
        display: inline
      a
        color: white
  
  #actions
    float: right
    padding-top: 20px
  
  .big
    font-size: 130%
  
  .badge
    color: white
    background-color: #454f59
    padding: 6px 12px 7px
    +round-corners(8px)
    +v-gradient(#555d65, #757d85)