#navigation
  ul.primary_links
    font-size: 105%
    height: 20px
    list-style: none
    margin: 0
    padding: 15px 20px
    li
      display: inline
      padding-right: 20px
    a, a:visited
      color: #333
      text-decoration: none
    a:hover
      text-decoration: underline
  ul.account_links
    float: right
    font-size: 1em
    list-style: none
    padding: 15px 20px
    a, a:visited
      color: #0066cc
      text-decoration: none
    a:hover
      text-decoration: underline
    li
      display: inline
      padding-left: 8px